<div class="main-wrapper">
  <app-navbar></app-navbar>
  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Recommended Hospitals</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
          <div class="form-group form-focus select-focus float-right">
            <select class="select-floating" (change)="onCitySelect($event)">
              <option *ngFor="let city of cityOptions">{{ city }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-4"
          *ngFor="let recommendation of recommendedHospitals"
        >
          <div class="card">
            <h2 class="text-center">{{ recommendation.hospitalName }}</h2>
            <div class="card-body d-flex align-items-start">
              <div class="pic">
                <img
                  [src]="
                    'http://localhost:8070/api/v1/hospital/get/image/' +
                    recommendation.fileName
                  "
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="card-info">
                <p>
                  <i class="fas fa-globe"></i>
                  {{ recommendation.hospitalWebsite }}
                </p>
                <hr />
                <p>
                  <i class="far fa-envelope"></i>
                  {{ recommendation.hospitalEmail }}
                </p>
                <hr />
                <p>
                  <i class="fas fa-phone"></i>
                  {{ recommendation.hospitalPhoneNumber }}
                </p>
                <hr />
              </div>
            </div>
            <div class="col-12 text-center my-2">
              <a
                [routerLink]="[
                  '/patient/hospital-page',
                  recommendation.hospitalId
                ]"
                class="my-2"
              >
                <button class="btn btn-danger">Book</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
