<div class="main-wrapper">
  <app-navbar></app-navbar>
  <div class="page-wrapper">
    <div class="content">
      <div
        class="d-flex"
        *ngIf="recommendedHospitals && recommendedHospitals[0]?.city"
      >
        <img
          src="assets/images/location.svg"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />

        <h6
          class="text-primary d-inline-block align-text-top"
          *ngIf="recommendedHospitals && recommendedHospitals[0]?.city"
        >
          {{ recommendedHospitals[0].city.name }}
        </h6>
      </div>
      <h2
        class="display-5 col-12 py-2"
        *ngIf="
          recommendedHospitals && recommendedHospitals[0]?.city;
          else noHospitals
        "
      >
        Recommendations By Your Location
      </h2>

      <ng-template #noHospitals>
        <h2 class="display-5 col-12 py-2">
          We couldn't find any hospital nearby your city
        </h2>
      </ng-template>
      <div class="row">
        <div
          class="col-sm-4"
          *ngFor="let recommendation of recommendedHospitals"
        >
          <div class="card">
            <h2 class="text-center">{{ recommendation.hospitalName }}</h2>
            <div class="card-body d-flex align-items-start">
              <div class="pic">
                <img
                  [src]="
                    'http://localhost:8086/api/v1/hospital/get/image/' +
                    recommendation.fileName
                  "
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="card-info">
                <p>
                  <i class="fas fa-globe"></i>
                  {{ recommendation.hospitalWebsite }}
                </p>
                <hr />
                <p>
                  <i class="far fa-envelope"></i>
                  {{ recommendation.hospitalEmail }}
                </p>
                <hr />
                <p>
                  <i class="fas fa-phone"></i>
                  {{ recommendation.hospitalPhoneNumber }}
                </p>
                <hr />
              </div>
            </div>
            <div class="col-12 text-center my-2">
              <a
                [routerLink]="[
                  '/patient/hospital-page',
                  recommendation.hospitalId
                ]"
                class="my-2"
              >
                <button class="btn btn-danger">Book</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title d-inline-block">Appointments</h4>
              <a
                [routerLink]="['/patient/appointment']"
                class="btn btn-primary float-right"
                >View all
              </a>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table mb-0">
                  <tbody>
                    <tr *ngFor="let appointment of appointments">
                      <ng-container
                        *ngIf="
                          appointment.status != 'CANCEL' &&
                          appointment.status != 'INITIALIZED'
                        "
                      >
                        <td style="min-width: 200px">
                          <a class="avatar" href="profile.html">B</a>
                          <h2>
                            <a href="profile.html"
                              >{{ appointment.patientName }}
                            </a>
                          </h2>
                        </td>
                        <td>
                          <h5 class="time-title p-0">Appointment With</h5>
                          <p>Dr. {{ appointment.doctor }}</p>
                        </td>
                        <td>
                          <h5 class="time-title p-0">Date</h5>
                          <p>{{ appointment.dateTime | date }}</p>
                        </td>
                        <td class="text-right">
                          <a
                            href="appointments.html"
                            class="btn btn-outline-primary take-btn"
                            >Take up</a
                          >
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>