<nav>
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <div class="side-navbar-top">
      <div class="text-center mt-4">
        <img src="assets/images/hospital.svg" id="avtar-image" alt="Profile Picture" class="rounded-circle" width="100"
          height="100" />
      </div>

      <h5 class="text-center mt-3" id="avtar-name"><span>MGM Hospital</span></h5>
    </div>

    <div class="side-navbar-bottom list-group list-group-flush">
      <a routerLink="/hospital-details" class="side-navbar-list list-group-item list-group-item-action bg-light">Hospital Details</a>
      <a routerLink="/update-hospital-details" class="side-navbar-list list-group-item list-group-item-action bg-light">Update
        Profile</a>
      <a routerLink="/login" class="side-navbar-list list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>
</nav>