<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
   
      <div class="px-5">
        <h1 class="text-primary  py-2">| Your Health Is Our Passion</h1>
        <h2 class="py-2">
          Genuine Commitment 
          To Your Health
        </h2>
        <p class="py-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quidem cum et beatae amet omnis, ad autem suscipit, reiciendis aperiam
          mollitia voluptatum alias.
        </p>
        <a href=""><button class="btn btn-primary">Read More</button></a>
      </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
    <img src="assets/images/hero_image.png" alt="Hero Image"/>
  </div>
</div>
