<div class="main-wrapper">
  <app-hcp-d-sidebar></app-hcp-d-sidebar>
  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-7 col-6">
          <h4 class="page-title">My Profile</h4>
        </div>

        <div class="col-sm-5 col-6 text-right m-b-30">
          <a [routerLink]="['/hospital/edit-doctor',hospitalId,index]" class="btn btn-primary btn-rounded"><i
              class="fa fa-plus"></i> Edit Profile</a>
        </div>
      </div>
      <div class="card-box profile-header">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-view">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <a href="#"><img class="avatar" [src]="'http://localhost:8086/api/v1/hospital/get/doctor/image/' +doctor.fileName" alt="Doctor" /></a>
                </div>
              </div>
              <div class="profile-basic">
                <div class="row">
                  <div class="col-md-5">
                    <div class="profile-info-left">
                      <h3 class="user-name m-t-0 mb-0">
                        {{ doctor.doctorName }}
                      </h3>
                      <div class="profile-info-left mt-4">
                        <div class="form-group">
                          <div class="profile-upload">
                            <div class="upload-img">
                              <input type="file" (change)="onFileSelected($event)" class="form-control" width="400"/>
                            </div>
                            <div class="upload-input">
                              <button type="button" (click)="uploadImage()" class="btn btn-outline-primary btn-sm btn-upload">Upload</button>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <ul class="personal-info">
                      <li>
                        <span class="title">Department:</span>
                        <span class="text">{{ doctor.department }}</span>
                      </li>
                      <li>
                        <span class="title">Degree:</span>
                        <span class="text">{{ doctor.qualification }}</span>
                      </li>
                      <li>
                        <span class="title">Language:</span>
                        <span class="text">{{ doctor.languagesSpoken }}</span>
                      </li>
                      <li>
                        <span class="title">Experience:</span>
                        <span class="text">{{ doctor.yearOfExperience }} years</span>
                      </li>
                      <li>
                        <span class="title">Duty Time:</span>
                        <span class="text">{{ doctor.startTime }} - {{ doctor.endTime }}</span>
                      </li>
                      <li>
                        <span class="title">Bio:</span>
                        <span class="text">{{ doctor.bio }} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-tabs mt-4">
        <ul class="nav nav-tabs nav-tabs-bottom">
          <li class="nav-item">
            <a class="nav-link active" href="#about-cont" data-toggle="tab">
              Appointments</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane show active" id="about-cont">
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let appointment of appointments; let i = index">
                    <ng-container *ngIf="appointment.doctor === doctor.doctorName">
                      <td>{{ i + 1 }}</td>
                      <td>{{ appointment.patientName }}</td>
                      <td>{{ appointment.dateTime }}</td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>