/* .container-fluid {
  width: 100%;
  align-items: center;
}

.right
{
    display: flex;
    flex-direction: row-reverse;
}

.buttons a{
    padding: 6px;
    text-decoration: none;
    margin: auto 0;
    margin-right: 23px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

form button.btn.btn-danger {
  width: 30%;
  margin: 20px;
}

form span {
  color: rgb(40, 158, 255);
}
form hr {
  border: 2px solid #000;
} */


.card{
  background-color: white;
  border: 1px solid #333;
  border-radius: .5rem;
  padding: .5rem;
  max-width: 70vw;
  margin: 0 auto;
  margin-top: 113px;
  margin-bottom: 124px
  /* display: none; */
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: .25em;
  margin-bottom: .25rem;
}

.form-group:last-child{
  margin: 0;
}

.form-group >label{
  font-weight: bold;
  color: #333;  
}

.form-group>input{
  border-radius: .25rem;
  border: 1px solid #333;
  font-size: 1rem;
  padding: .25rem;
}

.step-title{
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.card.active{
  animation: slide 250ms 125ms ease-in-out both;
}

.multi-step-form{
  overflow: hidden;
  position: relative;
}

.hide{
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.75);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

label{
  font-size: 1.3rem;
}